<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to Flock</title>
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.css">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="libs/chosen/chosen.css">

  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>


	<link rel="stylesheet" href="stylesheets/screen.css">
	<!-- <link rel="stylesheet" media="screen" href="css/styles.css" > -->
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, max-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
<link rel="apple-touch-icon" sizes="76x76" href="Icon-76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="app-icon.png" />

    </head>
    <body>
        <div id="main_container">
        

         
        </div>

        <script type='text/template' id='loginPage'>

        		<div id='cover'>
        			<img src='images/splash_2.png'>
        		</div>

        		<header>
			      <h1>
			        Check-in
			      </h1>
			    </header>

				<div class="container">
					<div class="row content">
						<div class="col-xs-12">




						<form class="contact_form" action="#" method="post" name="contact_form">
						
							

							<div class="input-group field-item" id="name2">
					           
						            
					        <span class="input-group-addon">
						        <i class="icon-info icon-large"></i>
						      </span>
			
					            <input type="text" class="form-control" id="name" placeholder="NAME">
					      
					          </div>
					          <div class="input-group field-item" id="email2">
						          <span class="input-group-addon">
							        <i class="icon-envelope"></i>
							      </span>
					            
					            <input type="email" class="form-control" id='email' placeholder="EMAIL">

					          </div>

					          <div class="input-group field-item" id="phone2">
					          	<span class="input-group-addon">
							        <i class="icon-mobile-phone icon-large"></i>
							      </span>
					            
					            <input type="tel" class="form-control" id='phone' placeholder="PHONE">
					          </div>

					          <div class="input-group field-item" id="phone2">
					          	<span class="input-group-addon">
							        <i class="icon-star"></i>
							      </span>
					            
					            <select multiple class="chzn form-control" id="input-interests">
					                <option value="art">Art</option>
					                <option value="sports">Sports</option>
					                <option value="music">Music</option>
					                <option value="technology">Technology</option>
					                <option value="food">Food</option>
					            </select>
					          </div>


					        <div class="row">
						        <div class="col-xs-12 btn-container">
						            <button class="btn btn-blue btn-wide submit" type="button" id='enterLoginInfo'>Submit</button>
								</div>  
							</div>


					
				</form>

						</div>

					
			</div>
        </div>

        </script>

        <script type='text/template' id='attendeesListTemplate'>
        <header class="no-padding-bottom">
        <div class="nav-icon left" id="back-attendee-chatmenu">&lt; Chat Menu</div>
			<h1>
				Attendees
			</h1>
	    </header>
            <ul id='attendeeList'></ul>
        </script>

        <script type='text/template' id='attendeeTemplate'>
        
        <div id='attendee'>
            <p class='aname'> <%-name %> </p>
            <p class='aphone'> <%-meta.phone %> </p>
            <p class='aemail'> <%-meta.email %> </p>
        </div>

        </script>


        
        <!-- Template for enumerating locations -->
        <script type="text/template" id="locationPage">
      		<header class="no-padding-bottom">
			      <h1>
			        Login Page
			      </h1>
			    </header>
            <div id='map'></div>
        	<ul id="locations">

        	</ul>
        </script>
        
        <!-- Template for Chat Menu -->
        <script type="text/template" id="chatMenuTemplate">


        <header class="no-padding-bottom">
			      <h1>
			        Chat Menu
			      </h1>
			    </header>

		
        <div>

        


        

        <table class='chat-menu-table'>
	        <tr>
	        	<td>
					<a type="button" id='defaultChat'>Default Chat</a> 
				</td>
				<td>
			        <a type="button" id='defaultChatAttendees'><i class="icon-group"></i> <%-numberOfPublicAttendees%></a>
		        </td>
			</tr>
			<tr>
				<td>
			        <a type="button" id='artChat' >Art Chat</a> 
		        </td>
		        <td>
			        <a type="button" id='artAttendees'><i class="icon-group"></i> <%-numberOfArtAttendees %></a>
		        </td>
	        </tr>

			<tr>
				<td>
			        <a type="button" id='sportsChat'>Sports Chat</a>
		        </td>
		        <td>
			        <a  type="button" id='sportsAttendees'><i class="icon-group"></i> <%-numberOfSportsAttendees%></a>
		        </td>
	        </tr>
    
		    <tr>
				<td>
					<a type="button" id='musicChat'>Music Chat</a>
				</td>
		        <td>
			        <a type="button" id='musicAttendees'><i class="icon-group"></i> <%-numberOfMusicAttendees%> </a>
		        </td>
	        </tr>
    
		    <tr>
				<td>
			        <a type="button" id='technologyChat'>Technology Chat</a>
		        </td>
		        <td>
			        <a type="button" id='technologyAttendees'><i class="icon-group"></i> <%-numberOfTechnologyAttendees%></a>
		        </td>
	        </tr>
    
		    <tr>
				<td>
			        <a type="button" id='foodChat'>Food Chat</a>
		        </td>
		        <td>
			        <a type="button" id='foodAttendees'><i class="icon-group"></i> <%-numberOfFoodAttendees%> </a>
		        </td>
	        </tr>

        </div>
        </script>

        <script id='text/template' id='chatPage'>
        </script>
        
        <!-- Template for chatroom -->
        <script type="text/template" id="chatroom">
        	<!-- Header / Navbar -->

        
        	<header class="no-bottom-margin" id="nav-bar">
        		<div class="nav-icon left" id="back-chatmenu">&lt; Chat Menu</div>
        		<h1><%- filter %></h1>
  					
        		<!--<a href="#">Friends</a>-->

        	</header>

        	<header class="subheader">
	        	<h3><%- location %></h3>
        	</header>
        	
        	<div class="container">
	        	<div id="messages">
					<ul id="msg-list">
						<!-- For each msg /// remove later -->
						
					</ul>
				</div>
			</div>

					
					<!-- Chatbox -->
					<div class="container">
					<div id="chatbox">
						<form id="chatbox-form">
						<div class="input-group">
					      <input type="text" placeholder="Type a message" name="chatbox-input" id="chatbox-input" />
					      <span class="input-group-btn">
					        <button type="button" name="chatbox-submit" class="btn btn-default" id="chatbox-submit">+</button>
					      </span>
					    </div><!-- /input-group -->
					   	</form>
					</div>

						
					
					</div>
					
        </script>
        
        <!-- Template for the individual messages in the chatroom -->
        <script type="text/template" id="chatroom-message">
        	<li>
						<p class="msg-message"><%- message %></p>
						<span class="msg-username"><%- username %></span>
						<span class="msg-timestamp"><%- timestamp %></span>
						<i class="icon-user icon-4x"></i>
					</li>
        </script>

        <script src="https://cdn.firebase.com/v0/firebase.js"></script>
        <script src="js/jquery-2.0.3.min.js"></script>
        <script src="libs/chosen/chosen.jquery.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/main.js"></script>
</body>
</html>
